h1{
	text-align: center;   <!-- centrer sur la page le texte des titres de niveau h1  -->
	font-size:35px;      	<!-- taille de la police choisie pour les titres h1 -->		
	}
body{
	color: #404040;
	background-color:  #fcfbfb ;
	font-size: 16px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: sans-serif;
	}
h2{
	font-size: 22px;
	font-style: italic;
}
a{
	color: #ff2d2d;
	}